.bl_driverShow {
    max-width: map-get($ary_width, xl);
    margin: 5rem auto 4rem auto;
    background: #fff;
    border: 1px solid #999899;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    @include media(m) {
        margin: 7rem auto 4rem auto;
    }
    .bl_driverShow_inner {
        position: relative;
        width: 98%;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 3rem;
        @include media(m) {
            width: 90%;
        }
        .bl_driverShow_inner_head {
            width: 96%;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: #fff;
            padding: 1.2rem 1.5rem;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            .bl_driverShow_inner_head_ttl {
                width: 100%;
                h2 {
                    font-size: 1.3rem;
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
        .bl_driverShow_inner_content {
            .bl_driverShow_inner_content_editLink {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 2rem;
                a {
                    display: block;
                    text-align: center;
                    background: #3c8dbc;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    font-weight: bold;
                    border-radius: 0.4rem;
                    margin: 0 auto 1rem auto;
                    white-space: normal;
                    width: 80%;
                    @include media(s) {
                        margin: 0 1rem 1rem 0;
                        width: auto;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .bl_driverShow_inner_content_top {
                border: 1px solid $color_line;
                border-radius: 0.5rem;
                position: relative;
                margin-bottom: 3rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 3rem 1rem 3rem 1rem;
                @include media(m) {
                    padding: 3rem;
                }
                .bl_driverShow_inner_content_top_icon {
                    width: 100%;
                    text-align: center;
                    @include media(m) {
                        width: auto;
                        margin-right: 2rem;
                    }
                    img {
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                        // border-radius: 50%;
                        margin: auto;
                        border: 1px solid #d2d6de;
                        box-sizing: border-box;
                    }
                }
                .bl_driverShow_inner_content_top_info {
                    width: 100%;
                    @include media(m) {
                        width: calc(100% - 150px - 2rem);
                    }
                    .bl_driverShow_inner_content_top_info_1 {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        border-bottom: 1px solid $color_line;
                        padding-bottom: 1.3rem;
                        .bl_driverShow_inner_content_top_info_1_name {
                            font-weight: bold;
                            font-size: 1.3rem;
                            width: 100%;
                            margin: 0 0 1rem 0;
                            text-align: center;
                            @include media(l) {
                                width: auto;
                                margin: 0 2rem 0 0;
                            }
                        }
                        .bl_driverShow_inner_content_top_info_1_score {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 1rem;
                            @include media(l) {
                                width: auto;
                                margin-bottom: 0;
                            }
                            img {
                                max-width: 19%;
                                width: 1.3rem;
                                margin: 0 1%;
                            }
                        }
                        .bl_driverShow_inner_content_top_info_1_link {
                            display: inline-block;
                            background: #3c8dbc;
                            color: #fff;
                            padding: 0.5rem 1rem;
                            font-weight: bold;
                            border-radius: 0.4rem;
                            margin: 0 auto 0 auto;
                            @include media(m) {
                                margin: 0 0 0 auto;
                            }
                        }
                    }
                    .bl_driverShow_inner_content_top_info_2 {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding-top: 1.3rem;
                        p {
                            display: flex;
                            align-items: center;
                            margin: 0 auto 0.5rem 0;
                            img {
                                width: 1rem;
                                margin-right: 0.2rem;
                            }
                            span {
                            }
                        }
                    }
                }
            }

            .bl_driverShow_inner_content_profile {
                border: 1px solid $color_line;
                border-radius: 0.5rem;
                position: relative;
                margin-bottom: 3rem;
                padding: 3rem 1rem 3rem 1rem;
                @include media(m) {
                    padding: 3rem;
                }
                &::before {
                    content: "";
                    bottom: 0.5rem;
                    right: 0.5rem;
                    border-top: 1.7rem solid transparent;
                    border-right: 1.7rem solid $color_main;
                    position: absolute;
                }

                .bl_driverShow_inner_content_profile_info {
                    dl {
                        border-bottom: 1px solid $color_line;
                        padding: 1.4rem 1rem;
                        @include media(m) {
                            padding: 1.4rem 3rem;
                        }
                        dt {
                            color: $color_main;
                            margin-bottom: 0.4rem;
                            font-size: 0.9rem;
                        }
                        dd {
                        }
                    }
                }
            }
            .bl_driverShow_inner_content_review {
                border: 1px solid $color_line;
                border-radius: 0.5rem;
                position: relative;
                padding: 3.6rem 1rem 1rem 1rem;
                @include media(m) {
                    padding: 5.6rem 3rem 2rem 3rem;
                }
                &::before {
                    content: "";
                    bottom: 0.5rem;
                    right: 0.5rem;
                    border-top: 1.7rem solid transparent;
                    border-right: 1.7rem solid $color_main;
                    position: absolute;
                }
                .bl_driverShow_inner_content_review_title {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 1.8rem;
                    h3 {
                        width: 100%;
                        font-size: 1.3rem;
                        text-align: center;
                        margin-bottom: 1rem;
                        @include media(m) {
                            font-size: 1.6rem;
                            margin-bottom: 0;
                            width: 60%;
                        }
                    }
                    p {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        @include media(m) {
                            width: 40%;
                        }
                        img {
                            max-width: 17%;
                            width: 1.3rem;
                            margin: 0 0.5%;
                        }
                        span {
                            margin: 0 0.5%;
                        }
                    }
                }
                .bl_driverShow_inner_content_review_list {
                    li {
                        border-top: 1px solid $color_line;
                        padding: 1.4rem 1rem;
                        @include media(m) {
                            padding: 1.4rem 3rem;
                        }
                        p {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            margin-bottom: 1rem;
                            img {
                                width: 1.1rem;
                                margin: 0 0.1rem;
                            }
                        }
                        dl {
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 1.5rem;
                            @include media(m) {
                                margin-bottom: 1rem;
                            }
                            dt {
                                width: 7rem;
                                font-weight: bold;
                                width: 100%;
                                margin-bottom: 0.5rem;
                                @include media(m) {
                                    margin-bottom: 0;
                                    width: 20%;
                                }
                            }
                            dd {
                                width: 100%;
                                @include media(m) {
                                    width: 80%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.bl_driverEdit {
    max-width: map-get($ary_width, m);
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 4rem;
    background: #fff;
    border: 1px solid #999899;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    .bl_driverEdit_inner {
        position: relative;
        width: 98%;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 3rem;
        @include media(m) {
            width: 90%;
        }
        .bl_driverEdit_inner_head {
            width: 96%;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: #fff;
            padding: 1.2rem 1.5rem;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            .bl_driverEdit_inner_head_ttl {
                width: 100%;
                display: flex;
                align-items: center;
                h2 {
                    font-size: 1.3rem;
                    margin-right: auto;
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
        .bl_driverEdit_inner_content {
            border: 1px solid $color_line;
            border-radius: 0.5rem;
            position: relative;
            padding: 3rem 1rem;
            margin-bottom: 3rem;
            @include media(m) {
                padding: 3rem;
            }

            // 右下の三角
            &::before {
                content: "";
                bottom: 0.5rem;
                right: 0.5rem;
                border-top: 1.7rem solid transparent;
                border-right: 1.7rem solid $color_main;
                position: absolute;
            }
            .bl_driverEdit_inner_content_form {
                .bl_driverEdit_inner_content_form_caption {
                    h4 {
                        font-size: 1.2rem;
                        margin: 0 0 1rem 0;
                        color: $color_main;
                        @include media(m) {
                            font-size: 1.3rem;
                        }
                    }
                }
                .bl_driverEdit_inner_content_form_checkboxWrap {
                    margin-bottom: 2.2rem;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        li {
                            width: 100%;
                            @include media(m) {
                                width: 50%;
                            }
                        }
                    }
                }
                .bl_driverEdit_inner_content_form_img {
                    width: 100%;
                }
                .bl_driverEdit_inner_content_form_item {
                    margin-bottom: 1.3rem;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    &.el_width_half {
                        width: 100%;
                        margin-right: auto;
                        @include media(s) {
                            width: 48%;
                        }
                    }
                    input {
                        &.el_width6rem {
                            width: 100%;
                            @include media(s) {
                                width: 6rem;
                            }
                        }
                    }
                    span {
                        margin: 0 0.5rem;
                    }
                }
                .bl_driverEdit_inner_content_form_submit {
                    text-align: center;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }
                .el_advice {
                    text-align: center;
                }
            }
        }
    }
}
