.bl_officeAccountIndex {
    max-width: map-get($ary_width, xl);
    margin: 5rem auto 4rem auto;
    background: #fff;
    border: 1px solid #999899;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    @include media(m) {
        margin: 7rem auto 4rem auto;
    }
    .bl_officeAccountIndex_inner {
        position: relative;
        width: 98%;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 3rem;
        @include media(m) {
            width: 90%;
        }
        .bl_officeAccountIndex_inner_head {
            width: 96%;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: #fff;
            padding: 1.2rem 1.5rem;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            .bl_officeAccountIndex_inner_head_ttl {
                width: 100%;
                display: flex;
                align-items: center;
                h2 {
                    font-size: 1.3rem;
                    margin-right: auto;
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
        .bl_officeAccountIndex_inner_content {
            .bl_officeAccountIndex_inner_content_handle {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                a {
                    margin: 0 1rem 1rem 0;
                }
            }
            .bl_officeAccountIndex_inner_content_info {
                border: 1px solid $color_line;
                border-radius: 0.5rem;
                position: relative;
                padding: 3rem 1rem;
                margin-bottom: 3rem;
                @include media(m) {
                    padding: 3rem;
                }

                // 右下の三角
                &::before {
                    content: "";
                    bottom: 0.5rem;
                    right: 0.5rem;
                    border-top: 1.7rem solid transparent;
                    border-right: 1.7rem solid $color_main;
                    position: absolute;
                }
                dl {
                    margin-bottom: 1.3rem;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    dt {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 0.4rem;
                        width: 100%;
                        @include media(m) {
                            max-width: 35%;
                            width: 14rem;
                            margin: 0;
                        }
                    }
                    dd {
                        font-size: 1.1rem;
                        width: 100%;
                        @include media(m) {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}

.bl_officeAccountEdit {
    max-width: map-get($ary_width, m);
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 4rem;
    background: #fff;
    border: 1px solid #999899;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    .bl_officeAccountEdit_inner {
        position: relative;
        width: 98%;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 3rem;
        @include media(m) {
            width: 90%;
        }
        .bl_officeAccountEdit_inner_head {
            width: 96%;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: #fff;
            padding: 1.2rem 1.5rem;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            .bl_officeAccountEdit_inner_head_ttl {
                width: 100%;
                display: flex;
                align-items: center;
                h2 {
                    font-size: 1.3rem;
                    margin-right: auto;
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
        .bl_officeAccountEdit_inner_content {
            border: 1px solid $color_line;
            border-radius: 0.5rem;
            position: relative;
            padding: 3rem 1rem;
            margin-bottom: 3rem;
            @include media(m) {
                padding: 3rem;
            }

            // 右下の三角
            &::before {
                content: "";
                bottom: 0.5rem;
                right: 0.5rem;
                border-top: 1.7rem solid transparent;
                border-right: 1.7rem solid $color_main;
                position: absolute;
            }
            .bl_officeAccountEdit_inner_content_form {
                .bl_officeAccountEdit_inner_content_form_caption {
                    margin: 2.2rem 0 1rem 0;
                    h3 {
                        font-size: 1.2rem;
                        color: $color_main;
                        @include media(m) {
                            font-size: 1.3rem;
                        }
                    }
                }
                .bl_officeAccountEdit_inner_content_form_item {
                    margin-bottom: 1.3rem;
                    &.el_width_half {
                        width: 100%;
                        margin-right: auto;
                        @include media(s) {
                            width: 48%;
                        }
                    }
                    input {
                        &.el_width6rem {
                            width: 100%;
                            @include media(s) {
                                width: 6rem;
                            }
                        }
                    }
                    span {
                        margin: 0 0.5rem;
                    }
                }
                .bl_officeAccountEdit_inner_content_form_submit {
                    text-align: center;
                    margin-top: 2rem;
                }
            }
        }
    }
}
